p{
    font-size: 20px;
    font-weight: bolder;
    font-family: "Arial Black";
}

.links{
    display: flex;
}
.links a{
    background-color: peru;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.links a:hover{
    background-color: lightskyblue;
}